.hero {
  text-align: center;
  background-color: #17355f;
  color: white;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto 30px;
}

.hero-btn {
  background-color: #2aa5a0;
  color: white;
  padding: 12px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
