.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #17355f;
  color: white;
  font-weight: bold;
}

.logo-text {
  font-size: 24px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #d1d1d1; /* Optional: add hover effect */
}
